[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
#[[source]]
#url = "https://www.piwheels.org/simple"
#verify_ssl = true
#name = "pywheels"

[dev-packages]
pytest = "*"
pytest-bdd = "*"
pytest-describe-it = "*"
pytest-html = "*"
pytest-cov = "*"
pytest-pspec = "*"
pytest-mock = "~=3.6.1"
pytest-describe = "*"
pytest-watch = "*"
pylint = "*"
commitizen = "*"
python-semantic-release = "*"

[packages]
rich = "*"
pre-commit = "*"
setuptools = "*"
requests = "*"
html-to-json = "*"
dockerfile-parse = "*"
wget = "*"
semver = "*"
sshpubkeys = "*"
seleniumbase = "*"
jsonpath-ng = "*"
click = "*"
update = "*"
inquirer = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
responses = "*"
urllib3 = "*"

[requires]
python_version = "3"

[scripts]
UnitTests = "pytest tests/unit --tb=long -l"
IntegrationTests = "pytest tests/integration --tb=long -l"
E2ETests = "pytest tests/e2e --tb=long -l"
ReleaseTests = "pytest tests/release --tb=long -l"
ABTests = "pytest tests/ab --tb=long -l"
tests = "pytest tests/unit tests/integration tests/e2e tests/release --tb=long -l"
coverage = "pytest tests/unit tests/integration tests/e2e tests/release  --cov-report term --cov='.' --cache-clear --rootdir='.'"
coverageHtml = "pytest tests/unit tests/integration tests/e2e tests/release --cov-report html --cov='.'"
coverageCICDPipeline = "pytest tests/unit tests/integration tests/e2e tests/release --junitxml=junit/test-result.xml --cov-report=xml --cov-report=html --cov='.'  --tb=long -l --cache-clear --rootdir='.'"
watchUnit = "ptw tests/unit -- --cov-report term --cov='.' --tb=long -l"
watchIntegration = "ptw tests/integration -- --cov-report term --cov='.' --tb=long -l"
install_pre_hooks = "pre-commit install"
linterCheck = "pylint -f msvs modules"
testReportHtml = "pytest --html=htmlReport/report.html"
testReportHtmlCoverage = "pytest --cov=modules --cov-report term --cov-report html:coverage_html_report --html=htmlReport/report.html --self-contained-html"
docker_build = "scripts/docker/_build"
docker_run = "scripts/docker/_run -t"
docker_inspect = "scripts/docker/_inspect"
docker_compose_run_local_build = "scripts/docker/_run -d"
docker_compose_run_latest_hub = "scripts/docker/_run -s"
smoke_test_berlin_clock_api = "tests/smoke/berlin_clock_api_container_test.sh"
